example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

full-width {
    width: 100%;
}

.lhs-form{
    position: relative;
    left: 15%;
    width: 25%;
    top: 100px;
    height: 400px;
}

.mid-form{
    position: relative;
    left: 42%;
    width: 30%;
    height: 400px;
    top:-300px;
}

.rhs-form{
    position: relative;
    left: 73%;
    width: 20%;
    height: 400px;
    top: -700px;
 }

mat-form-field{
    border: black 1px solid;
    height: 40px;
    width: 90%;
    top: 20px;
    position: relative;
    left: 20px; 
}

mat-input{
    display: none;  
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-underline {
    display: none;
  }

.sep0{
    position: relative;
    width: 100%;
    left: 5px;
    height: 100px;
    top: 20px;
}

.sep1{
    position: relative;
    width: 100%;
    left: 10px; 
    top: 30px;
}

.vlarge{
    position: relative;
    left: 10px;
    height: 35px;
    font-weight: bold;
    font-size: 33px;
    padding: 0px;
}

img{
    position: absolute;
    left: 0px;
    height: 25px;
}

.seps{
    position: relative;
    height: 45px;
    top: 5px; 
}

.subdiv{
    position: relative;
    height: 5px;
    width: 100%;
}

.subdiv2{
    position: relative;
    height: 7px;
    width: 100%;
}

.lnk{
    position: relative;
    left: 40px;
    display: block;
    width: 180px;   
    top:    0px;
    height: 50px;
}

.wid-rhs{
    position: relative;
    width: 80%;
}

.my-col{
    position: relative;
    top: 10px;
    left: 4%;
    width: 200px;
    height: 50px;
    background-color: purple;
    color: white;
}

mat-checkbox{
    position:relative;
    left: 20px;
}

